<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>board</key>
        <dict>
            <key>columns</key>
            <integer>5</integer>
            <key>rows</key>
            <integer>4</integer>
            <key>cells</key>
            <array>
                <dict>
                    <key>class</key>
                    <string>StationaryBlock</string>
                    <key>name</key>
                    <string>stationary</string>
                    <key>row</key>
                    <integer>0</integer>
                    <key>column</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>class</key>
                    <string>GoalSprite</string>
                    <key>name</key>
                    <string>green</string>
                    <key>row</key>
                    <integer>1</integer>
                    <key>column</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>class</key>
                    <string>StationaryBlock</string>
                    <key>name</key>
                    <string>stationary</string>
                    <key>row</key>
                    <integer>2</integer>
                    <key>column</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>class</key>
                    <string>StationaryBlock</string>
                    <key>name</key>
                    <string>stationary</string>
                    <key>row</key>
                    <integer>1</integer>
                    <key>column</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>class</key>
                    <string>StationaryBlock</string>
                    <key>name</key>
                    <string>stationary</string>
                    <key>row</key>
                    <integer>0</integer>
                    <key>column</key>
                    <integer>4</integer>
                </dict>
                <dict>
                    <key>class</key>
                    <string>BlockSprite</string>
                    <key>name</key>
                    <string>red</string>
                    <key>row</key>
                    <integer>3</integer>
                    <key>column</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>class</key>
                    <string>BlockSprite</string>
                    <key>name</key>
                    <string>purple</string>
                    <key>row</key>
                    <integer>0</integer>
                    <key>column</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>class</key>
                    <string>RotationBlock</string>
                    <key>name</key>
                    <string>rotation</string>
                    <key>row</key>
                    <integer>2</integer>
                    <key>column</key>
                    <integer>4</integer>
                </dict>
                <dict>
                    <key>class</key>
                    <string>GoalSprite</string>
                    <key>name</key>
                    <string>red</string>
                    <key>row</key>
                    <integer>3</integer>
                    <key>column</key>
                    <integer>4</integer>
                </dict>
                <dict>
                    <key>class</key>
                    <string>BlockSprite</string>
                    <key>name</key>
                    <string>purple</string>
                    <key>row</key>
                    <integer>3</integer>
                    <key>column</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>class</key>
                    <string>BlockSprite</string>
                    <key>name</key>
                    <string>green</string>
                    <key>row</key>
                    <integer>3</integer>
                    <key>column</key>
                    <integer>2</integer>
                </dict>
                <dict>
                    <key>class</key>
                    <string>BlockSprite</string>
                    <key>name</key>
                    <string>orange</string>
                    <key>row</key>
                    <integer>3</integer>
                    <key>column</key>
                    <integer>3</integer>
                </dict>
                <dict>
                    <key>class</key>
                    <string>BlockSprite</string>
                    <key>name</key>
                    <string>orange</string>
                    <key>row</key>
                    <integer>0</integer>
                    <key>column</key>
                    <integer>3</integer>
                </dict>
                <dict>
                    <key>class</key>
                    <string>BlockSprite</string>
                    <key>name</key>
                    <string>green</string>
                    <key>row</key>
                    <integer>0</integer>
                    <key>column</key>
                    <integer>2</integer>
                </dict>
            </array>
        </dict>
    </dict>
</plist>
